Flask>=3.0,<4
Werkzeug>=3.0,<4
requests>=2.31,<3
mutagen>=1.47,<2
numpy>=1.26
pandas>=2.2
torch>=2.3
torchaudio>=2.3
demucs>=4.0,<5
faster-whisper>=1.0,<2
openai-whisper
py-roller>=0.8.3,<0.9
ctc-forced-aligner
uroman
Unidecode
nltk
lyric-align[asr]
